.editorinput {
  word-wrap: normal;
}

.chatlog {
  word-wrap: break-word;
}


.ds_bold {
  font-weight: bold;
}

.ds_italic {
  font-style: italic;
}

.no-close .ui-dialog-titlebar-close {
  display: none
}

.ui-menu { position: absolute; width: 150px; overflow: visible; z-index: 3 !important; }
